@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!doctype html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>@ViewData["Title"] - Mozika.com</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mozika media store from anywhere">

    <!-- Favicon -->
    <link href="~/assets/images/logo-dark.svg" rel="icon" type="image/png">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/night-mode.css">
    <link rel="stylesheet" href="~/assets/css/framework.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <!-- javaScripts
    ================================================== -->
    <script src="~/assets/js/framework.js"></script>
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/simplebar.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>

    <script src="~/assets/js/chart.min.js"></script>
    <script src="~/assets/js/chart-custom.js"></script>

    <script>
    (function (window, document, undefined) {
        'use strict';
        if (!('localStorage' in window)) return;
        var nightMode = localStorage.getItem('gmtNightMode');
        if (nightMode || true) {
            document.documentElement.className += ' night-mode';
        }
    })(window, document);


    (function (window, document, undefined) {

        'use strict';

        // Feature test
        if (!('localStorage' in window)) return;

        // Get our newly insert toggle
        var nightMode = document.querySelector('#night-mode');
        if (!nightMode) return;

        // When clicked, toggle night mode on or off
        @*nightMode.addEventListener('click', function (event) {
            event.preventDefault();
            document.documentElement.classList.toggle('night-mode');
            if (document.documentElement.classList.contains('night-mode')) {
                localStorage.setItem('gmtNightMode', true);
                return;
            }
            localStorage.removeItem('gmtNightMode');
        }, false);*@

    })(window, document);
    </script>
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="~/assets/css/icons.css">
    <style>
        @@media only screen and (min-width : 768px) {
            .page-general {
                min-height: 1200px;
            }
        }
    </style>

</head>
<body>
    <div id="wrapper" class="admin-panel page-general">

        <partial name="_Aside" />
        <partial name="_Header" />

        <!-- content -->
        <div class="page-content">
            <div class="page-content-inner">

                @RenderBody()

                <partial name="_Footer" />

            </div>

        </div>
    </div>

    

</body>

</html>